* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
}
body {
  background-image: linear-gradient(rgb(57, 57, 147), rgb(184, 30, 104));
  height: 100vh;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  border-image: linear-gradient(to top, red, purple) 30;
  border-width: 10px;
  border-style: dotted;
  padding: 1px;
}
.visibility {
  visibility: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.score {
  color: rgb(90, 22, 47);
  font-weight: bold;
  font-size: 28px;
}
.header-text {
  font-weight: 700;
  color: rgb(43, 5, 13);
  font-size: 1.3em;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.header-text,
.score {
  font-family: "Roboto", sans-serif;
}

/*  ADDED BY THE DOM  */
.play-again-btn {
  margin-top: 12px;
  padding: 12px;
  color: chocolate;
  background-color: darkorchid;
  font-weight: bolder;
  font-size: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 7px;
  /* animation: glowing 1300ms infinite; */
}
@keyframes glowing {
  0% {
    background-color: #19440c;
    box-shadow: 0 0 3px #37a715;
  }
  50% {
    background-color: #399a1b;
    box-shadow: 0 0 10px #679a57;
  }
  100% {
    background-color: #2b8f0c;
    box-shadow: 0 0 3px #559642;
  }
}
