* {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
}
body {
  background-image: linear-gradient(rgb(57, 57, 147), rgb(184, 30, 104));
  height: 100vh;
}
#grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  border-image: linear-gradient(to top, red, purple) 30;
  border-width: 10px;
  border-style: dotted;
  padding: 1px;
  animation: glowingBorder 3400ms infinite;
}
.visibility {
  visibility: hidden;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.score {
  color: rgb(90, 22, 47);
  font-weight: bold;
  font-size: 28px;
}
.header-text {
  font-weight: 700;
  color: rgb(43, 5, 13);
  font-size: 1.3em;
}
.nav {
  display: flex;
  justify-content: space-evenly;
}
.header-text,
.score {
  font-family: "Roboto", sans-serif;
}

/*  ADDED BY THE DOM  */
.play-again-btn {
  margin-top: 12px;
  padding: 12px;
  color: chocolate;
  font-weight: bolder;
  font-size: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 7px;
  animation: glowing 2000ms ease-in-out infinite;
}

@keyframes glowing {
  0% {
    background-color: #490d67;
    box-shadow: 0 0 3px #490d67;
  }
  50% {
    background-color: #7421a4;
    box-shadow: 0 0 10px #7421a4;
  }
  100% {
    background-color: #490d67;
    box-shadow: 0 0 3px #490d67;
  }
}
@keyframes glowingBorder {
  0% {
    border-image: linear-gradient(to top, red, purple) 30;
  }
  50% {
    border-image: linear-gradient(to top, rgb(127, 53, 127), rgb(148, 89, 89))
      30;
  }
  100% {
    border-image: linear-gradient(to top, red, purple) 30;
  }
}
